.how-number-div {
  width: 128px;
  height: 128px;
  border: 1px solid black;
  border-radius: 4px;
}

.how-content-div {
  width: 560px;
}

.chartWrapper {
  width: 100%;
}

.info-panel {
  width: 420px;
}

#form-container {
  width: 680px;
}

@media screen and (max-width: 1023.9px) and (min-width: 600px) {
  .demo-graph-div {
    width: 480px;
    height: 480px;
  }

  #form-container {
    width: 480px;
  }
}

@media screen and (max-width: 599.9px) and (min-width: 0) {
  .demo-graph-div {
    width: 280px;
    height: 280px;
  }

  #form-container {
    width: 100%;
  }

  .info-panel {
    width: 280px;
  }
}
